@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@font-face {
  font-family: "Conthrax";
  src: url("/assets/fonts/Conthrax.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dmblack: #020403;
  --dmgreen: #2ec878;
  --textmd: 20px;
  --h1: 115px;
  --spacing1x: 10.35px;
  --primaryf1: "Manrope";
  --primaryf2: "Conthrax";
  --screenwidth: 1920px;
  --grey_light: #f4f4f4;
  --green_light: #8ea59f;
  --gray:#6E6E6E;
}

body {
  font-family: "Manrope", "Conthrax" "Courier New", Courier, monospace;
}

nav {
  background-color: var(--dmblack);
  min-height: 106px;
  display: flex;
}

#container,
.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 120px;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_container .img_container {
  width: 233px;
  height: 42px;
}

.nav_container .img_container img {
  display: block;
  width: 100%;
  height: 100%;
}

.nav_container ul {
  display: flex;
  gap: 32px;
  align-items: center;
}
.nav_container ul li {
  list-style: none;
  position: relative;
}

.nav_container ul li a {
  text-decoration: none;
  color: white;
  font-size: var(--textmd);
  display: block;
  width: 100%;
  height: 100%;
  font-family: var(--primaryf1);
}

.nav_container ul li.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  width: 100%;
  left: 0;
  display: block;
  height: 2px;
  background-color: var(--dmgreen);
}

#header_container {
  max-width: 1950px;
  width: 100%;
  padding: 100px 100px;
  margin: 0 auto;
  position: relative;
}

.header_content_box,
.header_button_box {
  margin-top: 143px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header_button_box {
  gap: 24px;
  margin-top: 60px;
}

.header_button_box p {
  font-size: var(--textmd);
}

button {
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  font-family: var(--primaryf1);
}

.header_button_box button {
  width: 530px;
  min-height: 66px;
  color: white;
  background-color: var(--dmgreen);
}

.header_content_box h3 {
  font-size: 72px;
  font-family: var(--primaryf2);
}

.header_img_container {
  max-width: 935px;
  height: 1000px;
  position: absolute;
  top: 53px;
  right: 99px;
  width: 100%;
}
.header_img_container img {
  width: 100%;
  object-fit: contain;
}

.support_section_container {
  display: flex;
  border-top: 2px solid var(--dmblack);
  border-bottom: 2px solid var(--dmblack);
  margin-top: 80px;
  padding: 20px 0 30px 0;
}

.support_innner_container {
  display: flex;
  gap: 80px;
  align-items: center;
  height: 100%;
}

.logo_container img {
  display: block;
  width: 100%;
}
.logo_container {
  width: 329px;
  height: 100px;
}
.logo1,
.logo2 {
  padding-top: 15px;
}

.logo3 {
  padding-top: 16px;
}

.yandex_case {
  padding: 60px;
  background-color: var(--grey_light);
  border-radius: 20px;
  margin: 150px 0;
  display: flex;
  gap: 48px;
}
.info_box {
  min-width: 325px;
  max-width: 481px;
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.info_box .title {
  border-radius: 20px;
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  gap: 10px;
  border-radius: 20px;
  background-color: var(--dmblack);
  color: white;
  flex-direction: column;
  font-family: var(--primaryf1);
  font-size: 24px;
}

.info_box .title .txt > div {
  display: flex;
  padding-bottom: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  font-family: var(--primaryf1);
}

.txt_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-bottom: 1px solid var(--green_light);
  padding-bottom: 32px;
}

.txt_container .text_title {
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
}

.txt_container .content {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-family: var(--primaryf1);
  color: var(--dmblack);
  font-weight: 400;
}

.txt_container:nth-child(2),
.txt_container:nth-child(3) {
  padding-top: 32px;
}

.txt_container:nth-child(3) {
  border-bottom: none;
}

.case_box {
  padding: 60px;
  background-color: white;
  width: 100%;
  min-width: 735px;
  max-width: 1071px;
  border-radius: 20px;
}

.case_logo_img {
  width: 196px;
  height: 35px;
}

.case_box_title {
  font-size: 32px;
  color: var(--dmblack);
  font-weight: 800;
  font-family: var(--primaryf1);
  padding-top: 48px;
  padding-bottom: 64px;
}

.card_container {
  display: flex;
  gap: 48px;
}

.card_container > div {
  height: 471px;
  border-radius: 20px;
  width: 50%;
}

img {
  display: block;
  width: 100%;
}

.card_container div img {
  display: block;
  width: 100%;
  height: 100%;
}
.card_container > div:nth-child(2) {
  border-radius: 20px;
  border: 1px solid var(--dmblack);
  padding: 48px 32px 0px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  display: flex;
  position: relative;
}

.card_container div:nth-child(2) p {
  font-family: var(--primaryf1);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  color: var(--dmblack);
}

.divider {
  height: 1px;
  background-color: var(--green_light);
  width: 100%;
}

.house {
  position: absolute;
  width: 274px;
  display: block;
  height: 396px;
  bottom: 0;
  right: 0;
}

.house img {
  object-fit: contain;
  object-position: bottom;
}

.pulses_title {
  font-family: var(--primaryf2);
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  color: var(--dmgreen);
}

.pulses_blocks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 60px;
  gap: 46px;
}

.pulses_blocks > div {
  height: 384px;
  display: flex;
  padding: 48px;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 20px;
  background: var(--grey_light);
}

.case_section {
  margin: 150px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.case_block {
  display: flex;
  padding: 150px 0;
  align-items: flex-start;
  gap: 342px;
  background-color: var(--dmblack);
  position: relative;
}

.case_block .container{
  display: flex;
  justify-content: space-between;
}



.case_block .ellipse_one,
.case_block .ellipse_two {
  position: absolute;
}

.case_block .ellipse_one {
  top: 0;
  left: 0;
  width: 575px;
  height: 285px;
}

.case_block .ellipse_two {
  right: 0;
  bottom: 0;
  width: 1016px;
  height: 505px;
}

.case_block .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  flex-basis: 689px;
}

.case_block .number{
    flex-basis: 689px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    border-left: 2px solid var(--white, #FFF);
}

.case_block .number .txt{
  display: flex;
  padding: 64px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.case_block .number .txt p{
  color: var(--white, #FFF);
  font-family: var(--primaryf2);
  font-size: 115px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 10.35px;
}

.case_block .number .txt small{
  color: var(--white, #FFF);
  font-family:  var(--primaryf2);
  font-style: normal;
  font-weight: 400;
  line-height: 130%; 
}

.case_block .number .txt:nth-child(2){
  border-top: 2px solid var(--white, #FFF);
}
.case_block .left .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  align-self: stretch;
}

.case_block .left .content .title {
  display: flex;
  align-items: center;
  gap: 24px;
}

.case_block .left .content .title span{
  color: var(--dmgreen);
  font-family: var(--primaryf2);
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

.case_block .left .content .title .bullets{
  display:flex;
  gap:12px;
  align-items: center;
}

.bullets .bullet{
  background-color: var(--gray);
  display: flex;
  height: 48px;
  padding: 13px 32px 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--white, #FFF);
  font-family: var(--primaryf1);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  border-radius: 30px; 
}


.case_block .left .content  .txt{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.case_block .left .content  .txt h4{
  color: #fff;
  font-family: var(--primaryf1);
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 130%; 
}
.case_block .left .content  .txt p{
  color: var(--white, #FFF);
  font-family: var(--primaryf1);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; 

}

.steps_block {
  padding:150px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.steps_block .txt{
  flex-basis:689px;
  display:flex;
  flex-direction:column;
}

.steps_block .txt p {
  color: var(--accent, #2EC878);
  font-family: var(--primaryf2);
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
}

.steps_block .txt p:nth-child(2){
  color: var(--dark, #020403);
}

@media screen and (max-width: 1920px) {
}
@media screen and (max-width: 1300px) {
  #container {
    padding: 0 48px;
  }
}

@media screen and (max-width: 1024px) {
  #container {
    padding: 0 48px;
  }
}
